# Backend port
PORT=8080

# Сколько тренировок доступно пользователю в день
DAILY_TRAINING_LIMIT=5

# Адрес inference-сервиса ml-service в Docker Compose или локально
ML_SERVICE_URL=http://ml-service:8087

# Название модели, которая используется ml-service
MODEL_NAME=GigaChat

# Токен/ключ доступа к сервису Gigachat/Sber, если требуется.
# Оставьте пустым, если у вас локальная конфигурация без аутентификации.
SBER_AUTH=

# Генеративные параметры
MAX_NEW_TOKENS=300
TEMPERATURE=0.55
TOP_P=0.85
